@import './vars.css';

.app {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-main);
    color: var(--color-text);
}

h1 {
    font-family: var(--font-main);
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--color-primary);
    margin-bottom: 0.7em;
}

html {
    scroll-behavior: smooth;
    background: var(--color-bg);
}