@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #6f7075 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    width: 390px;
    height: 600px;
    overflow: hidden; 
    padding: 1rem;  
    position: relative;
}
.title {
    font-size: 25px;
    font-weight: 700;
    margin-top: 1rem;   
}
.imagecontainer{
    height: 230px;
    overflow: hidden;
  

}
.image{
    width: 100%;
    height: 100%;
    
}


.description {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
    line-break: anywhere;
    height: 100px;
    overflow: hidden;
    
    
}

.container ul {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

.container ul li {
    font-size: 25px;
    font-weight: 400;
    background: var(--color-primary);
    padding: 2px 8px;
    border-radius: 10px;
}

.container div a {
  text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 400;
    border-radius: 10px;
    background: var(--color-dark);
    padding: 10px;
}

.container div a:hover {
    background: var(--color-dark);
}

.container .links {
    position:absolute;
    bottom: 1rem;
    display: flex;
    align-self: center;
    gap: 1rem;
    margin-top: 26px;
   
}
@media screen and (max-width:850px) {
    .container{
        width: 100%;

    }

    
}